<h2>Welcome to the password protected area</h2>

{{#if username}}
    <p>Hello {{username}}, you signed in locally.</p>
{{/if}}

{{#if twitterName}}
    <p>Hello {{twitterName}}, you signed up with Twitter.</p>
{{/if}}

<p>You signed up on {{signupDate}}</p>

<h3>Your favorite things:</h3>


<a href="/logout">Log out</a>