<h2>Sign Up</h2>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form method="post" action="/signup">
    Username: <input name="username">
    Password: <input type = "password" name="password">

    <input type="submit" value="Sign Up">
</form>

<p>
    If you have an account, you can
    <a href="/login">Log in here</a>
</p>

<h2>Log in with Twitter</h2>

<p>Or you can <a href="/auth/twitter">use your Twitter account to sign in</a>.</p>